In [4]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## 데이터 테이블 생성

In [17]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# 테이블 생성 쿼리
create_table_query = '''
CREATE TABLE users (
  id INT AUTO_INCREMENT PRIMARY KEY,
  success_count1 INT(11) NOT NULL,
  success_count2 INT(11) NOT NULL,
  success_count3 INT(11) NOT NULL
)

'''
try:
    # 쿼리 실행
    cursor.execute(create_table_query)
    print("Table 'users' created successfully!")
except pymysql.Error as e:
    print(f"Error creating table: {e}")

# 연결 종료
conn.close()

Table 'users' created successfully!

## 데이터 테이블 df로 확인

In [21]:
import pymysql
import pandas as pd

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)

# SQL 쿼리
query = "SELECT * FROM users"

try:
    # 쿼리 실행하여 데이터프레임으로 가져오기
    df = pd.read_sql(query, conn)
    
    # 결과 출력
    print(df)

except pymysql.Error as e:
    print(f"Error executing query: {e}")

# 연결 종료
conn.close()

   id  success_count1  success_count2  success_count3
0   1              10              20              30
1   2              15              25              35
2   3              12              22              32

C:\Users\user\AppData\Local\Temp\ipykernel_17140\2325509821.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

## 테이터 테이블에 데이터 삽임

In [20]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# 삽입할 데이터
data_to_insert = [
    ( '10', '20', '30'),
    ( '15', '25', '35'),
    ( '12', '22', '32')
]

# 삽입 쿼리
insert_query = "INSERT INTO users (success_count1, success_count2, success_count3) VALUES ( %s, %s, %s)"

try:
    # 데이터 삽입
    cursor.executemany(insert_query, data_to_insert)
    
    # 변경사항 커밋
    conn.commit()
    
    print("Data inserted successfully!")
except pymysql.Error as e:
    # 변경사항 롤백
    conn.rollback()
    print(f"Error inserting data: {e}")

# 연결 종료
conn.close()

Data inserted successfully!

## 테이터 테이블 지우기

In [11]:
import pymysql

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'

# 데이터베이스 연결
conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
cursor = conn.cursor()

# 삭제할 테이블 이름
table_name = 'users'

# 테이블 삭제 쿼리
drop_table_query = f"DROP TABLE IF EXISTS {table_name}"

try:
    # 쿼리 실행
    cursor.execute(drop_table_query)
    print(f"Table '{table_name}' dropped successfully!")
except pymysql.Error as e:
    print(f"Error dropping table: {e}")

# 연결 종료
conn.close()

Table 'users' dropped successfully!

In [ ]:
from flask import Flask, jsonify

import pymysql

app = Flask(__name__)

# MySQL 연결 정보
HOST = 'database-1.cje86assyv2g.ap-northeast-2.rds.amazonaws.com'
USER = 'admin'
PASSWORD = 'sessac123'
DATABASE = 'databse12'
        conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
        cursor = conn.cursor()
@app.route('/insert_data')
def insert_data():
    try:
        # 데이터베이스 연결
        conn = pymysql.connect(host=HOST, user=USER, password=PASSWORD, database=DATABASE)
        cursor = conn.cursor()
        data_to_insert = [
            ('10', '20', '30'),
            ('15', '25', '35'),
            ('12', '22', '32')
        ]
        
        # 삽입 쿼리
        insert_query = "INSERT INTO users ( success_count1, success_count2, success_count3) VALUES ( %s, %s, %s)"
        # 데이터 삽입
        cursor.executemany(insert_query, data_to_insert)
        
        # 변경사항 커밋
        conn.commit()
        
        return jsonify({"message": "Data inserted successfully!"}), 200
    except pymysql.Error as e:
        # 변경사항 롤백
        if 'conn' in locals():
            conn.rollback()
        return jsonify({"error": f"Error inserting data: {e}"}), 500
    finally:
        # 연결 종료
        if 'conn' in locals():
            conn.close()

if __name__ == '__main__':
    app.run(debug=True)